<html>

<head>

    <title>Le Jardin Sucré </title>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="title" content="B-Bakery Bootstrap Project">
    <meta name="description" content="Bakery Web Template with Bootstrap 4, CSS animations, JavaScript, JQuery and localstorge usage in shopping cart feature.">
    <meta name="author" content="Seinn Let">
    <meta name="keywords" content="bakery, bakery template, b-bakery, free template">
    <meta name="robots" content="index, follow"/>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset ("asset/css/bootstrap.min.css") }}">

    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="{{ asset ("asset/vendor/fontawesome/css/all.min.css") }}">

    <!-- owlcarousel -->
    <link rel="stylesheet" type="text/css" href="{{ asset ("asset/vendor/owlcarousel/owl.carousel.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ("asset/vendor/owlcarousel/owl.theme.default.min.css") }}">

    <!-- aos -->
    <link rel="stylesheet" type="text/css" href="{{ asset ("asset/vendor/aos/aos.css") }}">

    <!-- jquery ui -->
    <link rel="stylesheet" type="text/css" href="{{ asset ("asset/vendor/jquery-ui/jquery-ui.css") }}">

    <!-- logo -->
    <link rel="icon" href="{{ asset ("asset/images/logo.png") }}" type="image/png" sizes="16x16">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{{ asset("asset/css/style.css") }}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top menu">
        <div class="container px-md-0">
            <a class="navbar-brand" href="{{ path("app_projetA") }}"><span>Le</span> Jardin Sucré </a>

            <a href="{{ path("app_cart") }}" class="d-lg-none d-md-inline-block btn ml-auto pr-3 pt-2"><i class="fas fa-shopping-basket icon-light-white pr-2"></i><sup><span class=" badge badge-brown badge-pill label-count">0</span></sup></a>

            <button class="animate-toggler d-lg-none d-md-inline-block" type="button" data-target="#myNav" data-toggle="collapse">
                <i></i><i></i><i></i>
            </button>

            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("addproduit") }}">+ Produit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("listecontact") }}"> Liste de contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("listeclient") }}"> Liste de client</a>
                    </li>
                </ul>
                <span class="navbar-text">
                      <a > Bienvenue !  Admin </a>
						<input type="text" name="search" id="searchbox" placeholder="Enter Keyword..." autofocus class="shadow p-2" style="display: none;">
						<button class="btn btn-search"><i class="fas fa-search icon-light"></i></button>
						<a href="{{ path("app_cart") }}" class="btn ml-lg-3  d-none d-lg-inline-block"><i class="fas fa-shopping-basket icon-light"></i><sup><span class="ml-1 badge badge-brown badge-pill label-count">0</span></sup></a>
						 <a
                                 class="btn btn-outline-dark ml-lg-4 btn-login"
                                 href="/{{ app.user ? 'logout' : 'login' }}"
                                 @click="isOpen = false">
                            {{ app.user ? 'Logout' : 'Login' }}
                        </a>
                </span>
            </div>
        </div>
    </nav>
</header>
<br>
<main>
    <section id="space-banner"></section>

    <section id="cart">
        <div class="container py-5">
            <h2 class="section-title">Liste de produit</h2>
            <div class="table-responsive">

                <table border="2" class="table table-bordered" >
    <tr>
        <td>Id</td>
        <td>Nom </td>
        <td>Description :</td>
        <td>prix </td>
        <td>Quantite </td>
        <td>Supprimer </td>
        <td>Modifier </td>
    </tr>
    <tr>
        {% for v in listeproduit %}

        <td>{{v.Id }}</td>
        <td>{{ v.nom }}</td>
        <td>{{ v.description }}</td>
        <td>{{ v.prix }}</td>
        <td>{{ v.quantite }}</td>


        <td><a href="{{ path("produitdelete",{'id':v.id}) }}">Supprimer </a></td>
        <td><a href="{{ path("produitupdate",{'id':v.id}) }}">modifier </a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>